{% extends "layout.htm" %}
{% block title %}
Login
{% endblock %}
{% block content %}
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Log in">
</form>{% endif %}
{% endblock %}
{% endblock %}










